@import './base.css';

/* 重置全局样式，避免影响登录页面 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px; /* 设置基础字体大小 */
}

#app {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
